<!-- search input -->
<mat-form-field>
  <mat-label>name, type, color</mat-label>
  <mat-icon matPrefix>search</mat-icon>
  <input matInput type="text" [(ngModel)]="inputValue" />
  <button
    class="search-button mat-elevation-z0"
    mat-raised-button
    matSuffix
    color="primary"
    (click)="onClickSearch()"
  >
    Search
  </button>
</mat-form-field>

<!-- chip -->
<mat-chip-listbox #chipList multiple>
  <mat-chip-option
    *ngFor="let option of filterOptions"
    (selectionChange)="onChipSelectionChange($event)"
    >{{ option }}</mat-chip-option
  >
</mat-chip-listbox>

<!-- spinner -->
<div class="spinner-container" *ngIf="isLoading; else list">
  <mat-spinner></mat-spinner>
</div>

<!-- all beer list -->
<ng-template #list>
  <mat-grid-list
    [cols]="gridCols"
    [gutterSize]="gridGutterSize"
    [rowHeight]="gridRowHeight"
  >
    <mat-grid-tile *ngFor="let beer of displayedBeers">
      <app-beer-card
        [beer]="beer"
        [imageUrl]="beer.image_url ? beer.image_url : altImageUrl"
        (click)="onClickCard(beer!)"
      ></app-beer-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<!-- Paginator -->
<mat-paginator
  #paginator
  [color]="paginatorColor"
  [length]="paginatorLength"
  [pageSizeOptions]="paginatorSizeOptions"
  [showFirstLastButtons]="true"
  (page)="onPaginatorChanged($event)"
  [class.paginator-sp]="isSp"
></mat-paginator>
