.spinner-container {
  height: 456px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beer-card {
  // necessary to show outline of cards when using guttersize
  margin: 0 8px;
}
