@use '@angular/material' as mat;
@import '../../../../styles.scss';

mat-form-field {
  margin: 0 8px;
  width: calc(100% - 16px);
}

mat-chip-listbox {
  margin-left: 8px;
}

.spinner-container {
  height: 456px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beer-card {
  // necessary to show outline of cards when using guttersize
  margin: 0 8px;
}

mat-paginator {
  background-color: mat.get-color-from-palette($primary);
  margin-top: 16px;
}
