@use '@angular/material' as mat;
@import '../../../../styles.scss';

mat-form-field {
  margin: 0 8px;
  width: calc(100% - 16px);

  .search-button {
    margin-right: 8px;
  }
}

mat-chip-listbox {
  margin-left: 8px;
  margin-top: -14px; // absorb extra margin of form field
}

.spinner-container {
  height: 456px;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-beer-card {
  // necessary to show outline of cards when using guttersize
  margin: 0 8px;
  height: 456px;
  cursor: pointer;
}

mat-paginator {
  background-color: mat.get-color-from-palette($primary);
  margin-top: 16px;
  padding-bottom: 32px;
}
