:host {
  width: 100%;
}

mat-card {
  height: 400px;
}

mat-card-content {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 240px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
