:host {
  width: 100%;
}

mat-card {
  min-height: 456px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 240px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .ibu-container {
    margin: 16px 56px;

    .ibu-text {
      text-align: center;
    }
  }

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
