:host {
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner-container {
    height: 464px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  app-beer-card {
    margin-top: 8px;
  }
}
